* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: verdana, sans-serif;
  background-color: rgba(14, 85, 146, 0.523);
  color: #f6f6f6;
  line-height: 1.6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}

.calculator-container {
  width: 90%;
  max-width: 800px;
  background-color: #098ff0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 40px auto;
}

.input-group,
.result-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input,
.result-group input {
  width: 50%;
  padding: 10px;
  border: 1px solid #0994f0;
  border-radius: 10px;
  text-align: center;
}

.input-group label,
.result-group label {
  text-align: center;
  width: 50%;
  display: block;
  margin-bottom: 10px;
}

button#calcular {
  background-color: #ffffff;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto 20px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  padding: 5px;
  border: none;
  color: #0980f0;
}

button#calcular:active {
  transform: scale(0.95);
}

/* button#calcular:hover {
  background-color: #04f6fa;
} */

.printer {
  display: block;
  margin: 0 auto 20px;
  width: 80px;
  height: auto;
}
